* {
    margin:0;
    padding:0;
    border:0;
    background:transparent;
    outline:none;
    text-decoration:none;
    outline:none;
    font-family:inherit;
    box-sizing:border-box;
}
  
ol, ul, li {
    list-style:none;
    display:block;
}
  
table {
    border-collapse: collapse;
    border-spacing:0;
}
  
a, img {
    border: none;
}
  
button, a {
    cursor: pointer;
    color: inherit;
}
  
textarea {
    resize: none;
}
  
button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0;
}
  
body {
    font-family: 'Overpass', sans-serif;
}

.sections {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#section1 {
    background-color: chocolate;
}

#section2 {
    background-color: goldenrod;
}

.buttons {
    position: absolute;
    width: 200px;
    height: 60px;
}

#button1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    border-radius: 50%;

    background-color: orchid;
}

#button2 {
    right: 40px;
    bottom: 40px;

    background-color: palegreen;
}

#button3 {
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: purple;
}